name: mq_analytics
description: MyQuran Analytics package
version: 0.1.0+1
resolution: workspace
publish_to: none

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  firebase_analytics:
  mq_crashlytics:

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail:
