name: my_quran_main
publish_to: none

environment:
  sdk: ^3.9.2

workspace:
  - app
  - packages/functions
  - packages/mq_analytics
  - packages/mq_app_ui
  - packages/mq_app_ui/gallery
  - packages/mq_auth_repository
  - packages/mq_ci_keys
  - packages/mq_crashlytics
  - packages/mq_hatim_repository
  - packages/mq_home_repository
  - packages/mq_prayer_time
  - packages/mq_quran_repository
  - packages/mq_remote_client
  - packages/mq_remote_config
  - packages/mq_storage

dependencies:
  cupertino_icons: ^1.0.8
  meta: ^1.16.0 #1.17.0 flutter_test
  intl: ^0.20.2
  firebase_core: ^4.2.1
  firebase_analytics: ^12.0.4
  firebase_auth: ^6.1.2
  firebase_crashlytics: ^5.0.4
  firebase_remote_config: ^6.1.1
  firebase_messaging: ^16.0.4
  flutter_local_notifications: ^19.5.0
  google_sign_in: ^7.2.0
  sign_in_with_apple: ^7.0.1
  bloc: ^9.1.0
  flutter_bloc: ^9.1.1
  equatable: ^2.0.7
  json_annotation: ^4.9.0
  dio: ^5.9.0
  web_socket_client: ^0.2.1
  shared_preferences: ^2.5.3
  url_launcher: ^6.3.2
  share_plus: ^12.0.1
  connectivity_plus: ^7.0.0
  internet_connection_checker_plus: ^2.9.1+1
  package_info_plus: ^8.3.1 #9.0.0 geolocator
  geocoding: ^4.0.0
  geolocator: ^14.0.2
  timezone: ^0.10.1
  flutter_timezone: ^5.0.1
  adhan_dart: ^1.2.0
  flutter_svg: ^2.2.2
  cached_network_image: ^3.4.1
  infinite_scroll_pagination: ^5.1.1
  pinput: ^5.0.2
  animated_analog_clock: ^0.2.2
  syncfusion_flutter_charts: ^31.2.5
  flutter_instagram_storyboard: ^1.0.1 # Need change pkg
  just_audio: ^0.10.5
  just_audio_background: ^0.0.1-beta.17
  loader_overlay: ^5.0.0
  toastification: ^3.0.3
  go_router: ^17.0.0
  mockingjay: ^2.0.0

  # flutter_secure_storage: ^9.2.4
  # flutter_native_splash: ^2.4.7

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^10.0.0
  test: ^1.26.2
  mocktail: ^1.0.4
  build_runner: ^2.7.1 #2.10.1 json_serializable
  json_serializable: ^6.11.1
  flutter_gen_runner: ^5.12.0
  # flutter_launcher_icons: ^0.14.4

melos:
  command:
    bootstrap:
      runPubGetInParallel: false
      usePubspecOverrides: true

  scripts:
    format:
      exec: dart format . --line-length 120
      concurrency: 1
      description: "Format Dart code for selected package"

    unit-test:
      run: melos exec -c 1 -- flutter test
      description: "Run unit tests (all packages)"

    run-build-runner:
      run: |
        ./scripts/delete_g_files.sh
        melos exec -c 1 --depends-on="build_runner" -- flutter pub run build_runner build
        dart format . --line-length 120
      description: "Generate code with build_runner"

    build-apk:
      run: cd app && flutter build apk
      description: "Build an APK file"

    build-ios:
      run: cd app && flutter build ios --release --no-codesign
      description: "Build an IOS file"

    build-appbundle:
      run: cd app && flutter build appbundle
      description: "Build an appbundle file"

    integration-test:
      run: cd app && flutter drive --target=test_driver/app.dart
      description: "Run integration tests for the my_quran"
