name: mq_app_ui
description: My Quran App UI package
version: 0.1.0+1
resolution: workspace
publish_to: none

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  intl:
  pinput:
  mockingjay:
  flutter_svg:
  syncfusion_flutter_charts:
  flutter_instagram_storyboard:
  cached_network_image:

  mq_storage:
  mq_prayer_time:

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail:
  build_runner:
  flutter_gen_runner:

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/

  fonts:
    - family: uthmanic_v2
      fonts:
        - asset: assets/fonts/uthmanic_v2/UthmanTN_v2-0.ttf
    - family: uthmanic_regular
      fonts:
        - asset: assets/fonts/uthmanic_regular/UthmanicRegular.ttf
    - family: page_1
      fonts:
        - asset: assets/fonts/page/p1.ttf
    - family: page_1_v2
      fonts:
        - asset: assets/fonts/page/p1_v2.ttf
    - family: page_1_woff2
      fonts:
        - asset: assets/fonts/page/p1.woff2
    - family: normal_v_1_1
      fonts:
        - asset: assets/fonts/normal_v_1_1/normal_v_1_1_p1.woff2
    - family: normal_v_1_2
      fonts:
        - asset: assets/fonts/normal_v_1_2/normal_v_1_2_p1.woff2
    - family: tajweed_v_1_1
      fonts:
        - asset: assets/fonts/tajweed_v_1_1/tajweed_v_1_1_p1.woff2
    - family: tajweed_v_1_2
      fonts:
        - asset: assets/fonts/tajweed_v_1_2/tajweed_v_1_2_p1.woff2

flutter_gen:
  assets:
    enabled: true
    outputs:
      package_parameter_enabled: true
  output: lib/src/generated/
  line_length: 120

  integrations:
    flutter_svg: true
