name: mq_remote_config
description: MyQuran Remote Config package
version: 0.1.0+1
resolution: workspace
publish_to: none

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  firebase_remote_config:
  package_info_plus:

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail:
