name: my_quran
description: A new Flutter project.
resolution: workspace
publish_to: "none"

version: 1.3.21+33

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  firebase_core:
  firebase_messaging:
  flutter_local_notifications:
  flutter_bloc:
  equatable:
  cupertino_icons:
  dio:
  intl:
  url_launcher:
  share_plus:
  infinite_scroll_pagination:
  just_audio:
  just_audio_background:
  loader_overlay:
  meta:
  toastification:
  go_router:
  internet_connection_checker_plus:

  mq_ci_keys:
  mq_remote_client:
  mq_storage:
  mq_crashlytics:
  mq_analytics:
  mq_remote_config:
  mq_auth_repository:
  mq_home_repository:
  mq_quran_repository:
  mq_hatim_repository:
  mq_app_ui:
  mq_prayer_time:

  # flutter_native_splash:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test:
  mocktail:
  # flutter_launcher_icons

flutter:
  uses-material-design: true
  generate: true

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/app_icon.png"
  # flutter pub run flutter_launcher_icons
