name: mq_remote_client
description: My Quran Remote Client
version: 0.1.0+1
resolution: workspace
publish_to: none

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  connectivity_plus:
  dio:
  meta:

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail:
