name: Build IOS

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.22.2"
          channel: "stable"
          architecture: x64
      - run: flutter doctor

      - run: dart pub global activate flutterfire_cli

      - name: "Melos Install"
        run: dart pub global activate melos

      - name: "Melos bs"
        run: melos bootstrap

      - name: "Build IOS"
        run: melos build-ios
