name: Build Android

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, ready_for_review]
    branches: [main]

jobs:
  build_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.6"
          channel: "stable"
      - run: flutter doctor

      - run: dart pub global activate flutterfire_cli

      - name: "Melos Install"
        run: dart pub global activate melos

      - name: "Melos bootstrap"
        run: melos bootstrap

      - name: "Build apk"
        run: melos build-apk

      - name: "Build appbundle"
        run: melos build-appbundle
