name: CI IOS

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
    branches: [main]

jobs:
  integration_test_ios:
    runs-on: macos-latest

    strategy:
      matrix:
        include:
          - device: "iPhone 16 Pro Max"
          - device: "iPad Pro 13-inch (M4)"
      fail-fast: true

    steps:
      - uses: actions/checkout@v5

      - name: "Select Xcode 16.2"
        run: sudo xcode-select -s /Applications/Xcode_16.2.app/Contents/Developer

      - name: "Confirm Xcode Version and Check Platform"
        run: |
          xcodebuild -version
          xcrun simctl list runtimes

      - name: "Install Missing iOS 18.6 Simulator Runtime"
        run: |
          echo "Installing iOS 18.6 Runtime..."
          sudo xcodebuild -downloadPlatform iOS -buildVersion 18.6
          echo "Installation completed."
          xcrun simctl list runtimes

      - name: "Available Devices after Installation"
        run: xcrun simctl list --json devices available

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.6"
          channel: stable

      - run: flutter doctor -v

      - name: "Install Global Tools (flutterfire_cli & melos)"
        run: |
          dart pub global activate flutterfire_cli
          dart pub global activate melos

      - name: "Melos bootstrap"
        run: $HOME/.pub-cache/bin/melos bootstrap

      - uses: futureware-tech/simulator-action@v3
        with:
          model: ${{ matrix.device }}
          os_version: "iOS 18.6"

      - name: "Run Integration Test"
        run: $HOME/.pub-cache/bin/melos integration-test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ matrix.device }}-screenshots
          path: ./screenshots/*
